@import "tailwindcss";
@plugin "daisyui";



.menu a {
    position: relative;
    background: transparent;
}

.menu a.active {
    color: hsl(var(--p));
    font-weight: 500;
}

.menu a.active::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 2px;
    width: 22px;
    height: 2px;
    background: hsl(var(--p));
    border-radius: 999px;
    transform: translateX(-50%);
}

.menu a:hover {
    background: transparent;
    color: hsl(var(--p));
}